@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.AccommodationTypePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core.Models.Blocks;
@{
    Layout = "Master.cshtml";

    var sectionTitle = Model.Value<string>("sectionTitle") ?? string.Empty;
    var sectionBodyText = Model.Value<string>("sectionBodyText") ?? string.Empty;
    var roomFacilities = Model.Value<string>("roomFacilities") ?? string.Empty;

    var roomGalleryCarousel = Model.Value<IEnumerable<IPublishedContent>>("roomGalleryCarousel");
    var roomFloorPlan = Model.Value<IEnumerable<IPublishedContent>>("roomFloorPlan");

    var bookingUrl = Model.Value<Link>("bookingLink", fallback: Fallback.ToAncestors);
}

    <section class="mt-offset">
        <div class="col-11 col-xl-10 m-auto">
            <div class="content-max-width">

                @* TITLE *@
                @if (!string.IsNullOrEmpty(sectionTitle))
                {
                    <h1>@Html.Raw(sectionTitle)</h1>
                }

                @* ROOM DETAILS *@
                @{
                    var blocks = Model.Value<IEnumerable<BlockListItem>>("roomDetails");

                    if (blocks != null && blocks.Any())
                    {
                        <div class="room-details">
                            @foreach (var block in blocks)
                            {
                                var content = block.Content;
                                <div class="detail d-flex flex-column">
                                    @await Html.PartialAsync("/Views/Partials/blocklist/Components/" + content.ContentType.Alias + ".cshtml",block)
                                </div>
                            }

                            @* FLOOR PLAN *@
                            @if (roomFloorPlan != null && roomFloorPlan.Any())
                            {
                                var c = 0;

                                <div class="detail d-flex flex-column floor-plan">
                                    @foreach (var img in roomFloorPlan)
                                    {
                                        <a href="@img.Url()" title="@Html.Raw(Umbraco.GetDictionaryValue("HeaderFloorPlan"))"
                                        class="underline-btn" data-fslightbox="floor">

                                            @if (c == 0)
                                            {
                                                @Html.Raw(Umbraco.GetDictionaryValue("HeaderFloorPlan"))
                                            }
                                        </a>

                                        c++;
                                    }
                                </div>
                            }
                        </div>
                    }
                }

                @* BODY TEXT *@
                @if (!string.IsNullOrEmpty(sectionBodyText))
                {
                    @Html.Raw(sectionBodyText)
                }

                @* BOOKING BUTTON *@
                @if (bookingUrl != null && !string.IsNullOrWhiteSpace(bookingUrl.Url))
                {
                    <a href="@bookingUrl.Url"
                       class="btn btn--book me-3"
                       title="@bookingUrl.Name"
                       target="@bookingUrl.Target">
                        @Html.Raw(Umbraco.GetDictionaryValue("ButtonBookNow"))
                    </a>
                }

            </div>


            @* GALLERY *@
            @if (roomGalleryCarousel != null && roomGalleryCarousel.Any())
            {
                <div class="mt-offset">
                    <div class="sliderContainer">
                        <div class="swiper roomGallerySwiper slider-arrows-bottom centered">
                            <div class="swiper-wrapper">
                                @foreach (var img in roomGalleryCarousel)
                                {
                                    <div class="swiper-slide">
                                        <div class="image-box">
                                            <div class="img-holder">
                                                <picture>
                                                    <source srcset="@img.GetCropUrl("horizontal-xl")&amp;quality=70&amp;format=webp" media="(min-width: 1480px)" type="image/webp">
                                                    <source srcset="@img.GetCropUrl("horizontal-xl")&amp;quality=70" media="(min-width: 1480px)" type="image/jpeg">
                                                    <source srcset="@img.GetCropUrl("horizontal-lg")&amp;quality=70&amp;format=webp" media="(min-width: 992px)" type="image/webp">
                                                    <source srcset="@img.GetCropUrl("horizontal-lg")&amp;quality=70" media="(min-width: 992px)" type="image/jpeg">
                                                    <source srcset="@img.GetCropUrl("horizontal-md")&amp;quality=70&amp;format=webp" media="(min-width: 768px)" type="image/webp">
                                                    <source srcset="@img.GetCropUrl("horizontal-md")&amp;quality=70" media="(min-width: 768px)" type="image/jpeg">
                                                    <source srcset="@img.GetCropUrl("horizontal-sm")&amp;quality=70&amp;format=webp" media="(min-width: 576px)" type="image/webp">
                                                    <source srcset="@img.GetCropUrl("horizontal-sm")&amp;quality=70" media="(min-width: 576px)" type="image/jpeg">
                                                    <source srcset="@img.GetCropUrl("square-sm")&amp;quality=70&amp;format=webp" media="(min-width: 0px)" type="image/webp">
                                                    <source srcset="@img.GetCropUrl("square-sm")&amp;quality=70" media="(min-width: 0px)" type="image/jpeg">
                                                    <img src="@img.GetCropUrl("square-sm")&amp;quality=70" alt="@await Html.PartialAsync("/Views/Partials/Shared/_AltTextImage.cshtml", img)" class="img-fluid lazyload">
                                                </picture>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>

                        </div>
                    </div>
                </div>
            }

            @* FACILITIES *@
            @if (!string.IsNullOrEmpty(roomFacilities))
            {
            <div class="mt-offset">
                <div class="facilities-section text-start">
                    <h2>@Html.Raw(Umbraco.GetDictionaryValue("HeaderFacilities"))</h2>
                    @Html.Raw(roomFacilities)
                </div>
            </div>
            }

        </div>
    </section>

    <section class="mt-offset bg-section-light py-sm-offset">
        <div class="col-11 col-xl-10 mx-auto">
            @await Html.PartialAsync("MyBlocks/Accommodation-other")
        </div>
    </section>
