@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core.Models.Blocks

@{
    var home = Model?.AncestorOrSelf(1);
    var bookingLink = home?.Value<Link>("bookingLink");
    var bookingOnlineLink = home?.Value<Link>("bookingOnlineLink");
    var websiteLogo = home?.Value<MediaWithCrops>("websiteLogo");
    var menuImage = Model?.Value<MediaWithCrops>("menuImage")?? home?.Value<MediaWithCrops>("menuImage");
    var contactDetails = home?.Value<string>("contactDetails") ?? string.Empty;

    var contactTelNo = Umbraco.GetDictionaryValue("TelephoneNumber")?.ToString();
    var mapLink = Umbraco.GetDictionaryValue("mapLink")?.ToString();
    var socialMedias = home?.Value<IEnumerable<BlockListItem>>("socialMedia") ?? Enumerable.Empty<BlockListItem>();
}

<header id="header_nav" class="fixed-top">
    <div class="row g-0 align-items-center px-2 px-sm-3 px-xl-5 main-header">

        <div class="col-4 left-col d-flex align-items-center">
            <div class="main_navigation-holder">

                <div class="nav-but-wrap menu-trigger" id="main-navigation-trigger">
                    <div class="menu-icon hover-target">
                        <span class="menu-icon__line menu-icon__line-left" aria-hidden="true">&#8203;</span>
                        <span class="menu-icon__line" aria-hidden="true">&#8203;</span>
                        <span class="menu-icon__line menu-icon__line-right" aria-hidden="true">&#8203;</span>
                    </div>
                    <div class="nav-btn-text">@Html.Raw(Umbraco.GetDictionaryValue("ButtonMenu"))</div>
                </div>

                <div class="main_navigation" id="main-navigation">
                    <div class="overlay"></div>
                    <div class="wrapper px-4 px-xl-5">
                        <nav class="main-menu">
                            @await Html.PartialAsync("NavigationElements/MainNavigation")

                            @if (!string.IsNullOrEmpty(bookingOnlineLink?.Url))
                            {
                                <div class="main-menu-btns">
                                    <a href="@bookingOnlineLink.Url" target="@bookingOnlineLink.Target" title="@bookingOnlineLink.Name">
                                        @Html.Raw(Umbraco.GetDictionaryValue("ButtonOnlineCheckIn"))
                                    </a>
                                </div>
                            }
                        </nav>

                        <div class="burger-img-bg">
                            @if (menuImage != null) {
                            <div class="menu-image">
                                <picture>
                                    <source srcset="@menuImage.GetCropUrl("horizontal-sm")&amp;quality=75&amp;format=webp" type="image/webp" media="(min-width: 0px)">
                                    <source srcset="@menuImage.GetCropUrl("horizontal-sm")&amp;quality=75" type="image/jpeg" media="(min-width: 0px)">
                                    <img src="@menuImage.GetCropUrl("horizontal-sm")&amp;quality=75" alt="@await Html.PartialAsync("/Views/Partials/Shared/_AltTextImage.cshtml", menuImage)" class="img-fluid">
                                </picture>
                            </div>}
                            <div class="menu-contact">
                                @if (!string.IsNullOrEmpty(contactDetails)){    
                                @Html.Raw(contactDetails)}

                                @if (socialMedias.Any())
                                {
                                    <ul class="list-unstyled social d-flex flex-wrap justify-content-end">
                                        @foreach (var socialMedia in socialMedias)
                                        {
                                            var content = socialMedia.Content;
                                            @await Html.PartialAsync("/Views/Partials/blocklist/Components/" + content.ContentType.Alias + ".cshtml", socialMedia)
                                        }
                                    </ul>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @await Html.PartialAsync("MyBlocks/languages")
            
        </div>

        <div class="col-4 text-center">
            <div class="logo">
                @if (websiteLogo != null)
                {
                    <a href="@home?.Url()" aria-label="@Html.Raw(Umbraco.GetDictionaryValue("AltText-HeaderLogo"))" title="@Html.Raw(Umbraco.GetDictionaryValue("AltText-HeaderLogo"))">
                        <img src="@websiteLogo.Url()" class="img-fluid" alt="@Html.Raw(Umbraco.GetDictionaryValue("AltText-HeaderLogo"))" fetchpriority="high">
                    </a>
                }
            </div>
        </div>

        <div class="col-4 d-flex align-items-center justify-content-end right-col">
            @if (!string.IsNullOrWhiteSpace(contactTelNo))
            {
                <div class="tel-icon">
                    <a href="tel:@(contactTelNo.Replace("+", "00").Replace(" ", ""))" target="_blank">
                        <img src="/images/tel.svg" alt="Call us icon">
                        <span>@Html.Raw(contactTelNo)</span>
                    </a>
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(mapLink))
            {
            <div class="pin-icon">
                <a href="@mapLink.ToString()" target="_blank" aria-label="Map">
                <img src="/images/googleMapPin.svg" alt="map icon">
                </a>
            </div>
            }
            

            @if (!string.IsNullOrEmpty(bookingLink?.Url))
            {
                <a href="@bookingLink.Url" target="@bookingLink.Target" title="@bookingLink.Name" class="btn btn--book">
                    @Html.Raw(Umbraco.GetDictionaryValue("ButtonBookNow"))
                </a>
            }
        </div>

    </div>
</header>