@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage



    <form action="/privacy-policy" class="newsletterform form-inline" id="NewsletterForm" method="post" novalidate="novalidate">
        <div class="row gy-3 gy-md-4">
            <div class="row gy-3 gy-md-4">
        	    <div class="col-12 mb-1">
        	        <label class="visually-hidden" for="NameSec">@Html.Raw(Umbraco.GetDictionaryValue("FormName"))</label>
                    <input class="form-control mailBox" id="NameSec" name="NameSec" placeholder="@Html.Raw(Umbraco.GetDictionaryValue("FormName"))" type="text" value="">
                    
                </div>
                <div class="col-12 mb-1">
                    <label class="visually-hidden" for="EmailSec">@Html.Raw(Umbraco.GetDictionaryValue("FormEmail"))</label>
                    <input class=" form-control mailBox" id="EmailSec" name="EmailSec" placeholder="@Html.Raw(Umbraco.GetDictionaryValue("FormEmail"))" type="text" value="">
                   
               </div>
        	   <div class="col-12 mb-1 text-start">
        	       <div class="form-agree mt-2">
        			<input class="required" id="AgreeSec" name="AgreeSec" type="checkbox" value="true">
        			<label for="AgreeSec">
                        @Html.Raw(Umbraco.GetDictionaryValue("FormAgree"))
        			</label>
        		    </div>
        		</div>
        
                <div class="col-12">
                    <button type="submit" id="send-form" class="underline-btn black">@Html.Raw(Umbraco.GetDictionaryValue("ButtonSignUp"))</button>
                </div>    
            </div>
        </div>
    </form>