@using Umbraco.Cms.Web.Common.PublishedModels
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models

@{
    var modelParent = Model.Parent;
    var roomsSelection = modelParent?.Children
        ?.Where(x => x.IsVisible() && x.Id != Model.Id)
        ?? Enumerable.Empty<IPublishedContent>();
}

@if (roomsSelection.Any())
{
    <div class="other-pages"> 
        <h2 class="h3 text-center">@Html.Raw(Umbraco.GetDictionaryValue("HeaderOtherRooms"))</h2>
        <div class="sliderContainer">
            <div class="swiper othersSwiper">
                <div class="swiper-wrapper">

                    @foreach (var item in roomsSelection)
                    {
                        var img = item.Value<IPublishedContent>("imageForListing");
                        <div class="swiper-slide">
                            <div class="image-box">

                                @if (img != null)
                                {
                                    <div class="img-holder">
                                        <picture>
                                            <source srcset="@img.GetCropUrl("vertical-lg")&amp;quality=70&amp;format=webp" media="(min-width: 992px)" type="image/webp">
                                            <source srcset="@img.GetCropUrl("vertical-lg")&amp;quality=70" media="(min-width: 992px)" type="image/jpeg">
                                            <source srcset="@img.GetCropUrl("square-sm")&amp;quality=70&amp;format=webp" media="(min-width: 768px)" type="image/webp">
                                            <source srcset="@img.GetCropUrl("square-sm")&amp;quality=70" media="(min-width: 768px)" type="image/jpeg">
                                            <source srcset="@img.GetCropUrl("square-sm")&amp;quality=70&amp;format=webp" media="(max-width: 767px)" type="image/webp">
                                            <source srcset="@img.GetCropUrl("square-sm")&amp;quality=70" media="(max-width: 767px)" type="image/jpeg">
                                            <img src="@img.GetCropUrl("square-sm")&amp;quality=70" alt="@await Html.PartialAsync("/Views/Partials/Shared/_AltTextImage.cshtml", img)" class="img-fluid fit-img lazyload">
                                        </picture>
                                    </div>
                                }

                                <div class="text-holder">
                                    <h3 class="header-underline">
                                        <a href="@item.Url()">
                                            @Html.Raw(item.Value("menuTitle"))
                                        </a>
                                    </h3> 
                                    <div class="mt-4 text-start">
                                        <a href="@item.Url()" title="@Html.Raw(item.Value("menuTitle"))" class="box-link">
                                            @Html.Raw(Umbraco.GetDictionaryValue("ButtonDiscover"))
                                        </a>
                                    </div>
                                </div>   
                            </div> 
                        </div>
                    }
                </div>

                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
}