@using Umbraco.Cms.Web.Common.PublishedModels
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = null;
    var currentCulture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
    var home = Model.Root();
    var allCultures = home?.Cultures;
    var scriptsInStartOfBody = home?.Value("scriptsInStartOfBody")?.ToString();
    var hideSlider = Model.Value("hideSlider")?.ToString() == "True";
    var classBody = (!Model.HasValue("hideSlider") || hideSlider || Model.IsDocumentType("newspage")) ? "no-slider" : "";
    var widgets = home?.Value("espaWidgets")?.ToString();
    var enableEspaWidget = home?.Value<bool?>("enableEspaWidget") == true;
}
<!DOCTYPE html>
<html lang="@currentCulture.Substring(0, 2).ToLower()">
<head>
    @await Html.PartialAsync("SeoElements/metaData")
    @await Html.PartialAsync("CssScriptsElements/CssElements")
</head>
<body class="@classBody @(Model.Level > 1 ? "innerpages" : "homepage") @currentCulture.Substring(0, 2).ToLower()">

    @if (!string.IsNullOrWhiteSpace(scriptsInStartOfBody))
    {
        @Html.Raw(scriptsInStartOfBody)
    }

    @await Html.PartialAsync("LayoutElements/Header")

    <main>
        @* --- HERO SLIDER --- *@
        @if (!hideSlider && !Model.IsDocumentType("newspage"))
        {
            <div class="position-relative @(Model.HasValue("videoUrl") ? "mainVideoSlider" : null) @(Model.HasValue("youTubeVideoUrl") ? "YTvideo-placement" : null) @(Model.IsDocumentType("accommodation") ? "topMediaInner" : null)">
                
                @if (Model.HasValue("videoUrl"))
                {
                    var videoUrl = Model.Value("videoUrl")?.ToString();
                    var fallbackVideoUrl = Model.Value("fallbackVideoUrl")?.ToString();
                    var videoExt = videoUrl?.Contains('.') == true ? videoUrl.Substring(videoUrl.LastIndexOf('.') + 1) : "mp4";
                    <video autoplay muted loop>
                        <source src="@videoUrl" type="video/@videoExt">
                        @if (!string.IsNullOrWhiteSpace(fallbackVideoUrl))
                        {
                            var videoExtAlt = fallbackVideoUrl.Contains('.') ? fallbackVideoUrl.Substring(fallbackVideoUrl.LastIndexOf('.') + 1) : "mp4";
                            <source src="@fallbackVideoUrl" type="video/@videoExtAlt">
                        }
                    </video>
                }
                else if (Model.HasValue("youTubeVideoUrl"))
                {
                    <div id="player" data-plyr-provider="youtube" data-plyr-embed-id="@Model.Value("youTubeVideoUrl")" style="--plyr-color-main: #333333;"></div>
                }
                else
                {
                    @await Html.PartialAsync("MyBlocks/Sliders")
                    @if (Model.IsDocumentType("homepage"))
                    {
                    @await Html.PartialAsync("formBooking")}
                }

                <div class="arrow-down bounce text-center">
                    <a href="#anchor-section"><img src="/images/arrow-down.svg" alt="arrow down"></a>
                </div>
            </div>
        }
        else
        {
            <div class="noSlider-holder"></div>
        }

        @if (Model.Level > 1)
        {
            @await Html.PartialAsync("NavigationElements/breadcrumb")
        }

        @RenderBody()
    </main>

    @await Html.PartialAsync("MyBlocks/GlobalElements")
    @await Html.PartialAsync("LayoutElements/Footer")

    @if (Model.IsDocumentType("homepage"))
    {
        <!--PopUp-->
        @await Html.PartialAsync("MyBlocks/Popup")
    }
    
    
    @if (enableEspaWidget){
        @Html.Raw(widgets)
    }
    
    @RenderSection("scripts", required: false)
    @await Html.PartialAsync("CssScriptsElements/ScriptsElements")
</body>
</html>
