@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var content = (ContentModels.BlockImageOnly)Model.Content;
    var settings = (ContentModels.GenericBlockSettings)Model.Settings;
    var blockImage = content.Value<IPublishedContent>("image");
    bool disabled = settings.Value<bool>("disableSection");
}

@if (!disabled)
{
    <section class="bgImageSection mt-offset">
        @if (blockImage != null)
        {
            <picture>
                <source srcset="@blockImage.GetCropUrl("horizontal-xl")&amp;quality=70&amp;format=webp" media="(min-width: 1480px)" type="image/webp">
                <source srcset="@blockImage.GetCropUrl("horizontal-xl")&amp;quality=70" media="(min-width: 1480px)" type="image/jpeg">
                <source srcset="@blockImage.GetCropUrl("horizontal-lg")&amp;quality=70&amp;format=webp" media="(min-width: 992px)" type="image/webp">
                <source srcset="@blockImage.GetCropUrl("horizontal-lg")&amp;quality=70" media="(min-width: 992px)" type="image/jpeg">
                <source srcset="@blockImage.GetCropUrl("horizontal-md")&amp;quality=70&amp;format=webp" media="(min-width: 768px)" type="image/webp">
                <source srcset="@blockImage.GetCropUrl("horizontal-md")&amp;quality=70" media="(min-width: 768px)" type="image/jpeg">
                <source srcset="@blockImage.GetCropUrl("horizontal-sm")&amp;quality=70&amp;format=webp" media="(min-width: 576px)" type="image/webp">
                <source srcset="@blockImage.GetCropUrl("horizontal-sm")&amp;quality=70" media="(min-width: 576px)" type="image/jpeg">
                <source srcset="@blockImage.GetCropUrl("horizontal-xs")&amp;quality=70&amp;format=webp" media="(min-width: 0px)" type="image/webp">
                <source srcset="@blockImage.GetCropUrl("horizontal-xs")&amp;quality=70" media="(min-width: 0px)" type="image/jpeg">
                <img src="@blockImage.GetCropUrl("horizontal-xs")&amp;quality=70" alt="@await Html.PartialAsync("/Views/Partials/Shared/_AltTextImage.cshtml", blockImage)" class="img-fluid img-fit lazyload">
            </picture>
        }
    </section>
}