@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels

@{
    var content = (ContentModels.BlockThreeColsCarousels)Model.Content;
    var settings = (ContentModels.GenericBlockSettings)Model.Settings;
    
    // Null-safe έλεγχος για απενεργοποίηση section
    bool disabled = settings?.Value<bool>("disableSection") ?? false;

    // Node picker
    IPublishedContent? nodePicker = content?.Value<IPublishedContent>("nodeSelection");

    // Section content variables με default string
    var sectionTitle = content?.Value("sectionTitle")?.ToString() ?? string.Empty;
    var sectionSubtitle = content?.Value("sectionSubtitle")?.ToString() ?? string.Empty;
    var sectionBodyText = content?.Value("sectionBodyText")?.ToString() ?? string.Empty;
}

@if (!disabled)
{
    <section class="mt-offset"> 
        <div class="col-11 col-xl-10 m-auto">
            <div class="row">
                @* TEXT COLUMN *@
                <div class="col-12 col-xl-4">
                    <div class="pe-xl-5 me-xl-5">
                        @if (!string.IsNullOrWhiteSpace(sectionTitle))
                        {
                            <h2 class="h1">
                                @Html.Raw(sectionTitle)
                                @if (!string.IsNullOrWhiteSpace(sectionSubtitle))
                                {
                                    <span class="section-subtitle">@Html.Raw(sectionSubtitle)</span>
                                }
                            </h2>
                        }

                        @if (!string.IsNullOrWhiteSpace(sectionBodyText))
                        {
                            @Html.Raw(sectionBodyText)
                        }
                    </div>
                </div>

                @* CAROUSEL COLUMN *@
                <div class="col-12 col-xl-8">
                    @if (nodePicker != null && nodePicker.Children?.Any(x => x.IsVisible()) == true)
                    {
                        var subpages = nodePicker.Children.Where(x => x.IsVisible());
                        <div class="sliderContainer">
                            <div class="swiper expSwiper">
                                <div class="swiper-wrapper">
                                    @foreach (var x in subpages)
                                    {
                                        var shortDescription = x?.Value("shortDescription")?.ToString() ?? string.Empty;
                                        <div class="swiper-slide">
                                            <div class="simple-box">
                                                @{
                                                    var img = x?.Value<IPublishedContent>("imageForListing");
                                                }
                                                @if (img != null)
                                                {
                                                    <a href="@x?.Url()" title="@Html.Raw(x?.Value("menuTitle")?.ToString())">
                                                        <picture>
                                                            <source srcset="@img.GetCropUrl("vertical-md")&amp;quality=70&amp;format=webp" media="(min-width: 1480px)" type="image/webp">
                                                            <source srcset="@img.GetCropUrl("vertical-md")&amp;quality=70" media="(min-width: 1480px)" type="image/jpeg">
                                                            <source srcset="@img.GetCropUrl("square-md")&amp;quality=70&amp;format=webp" media="(min-width: 768px)" type="image/webp">
                                                            <source srcset="@img.GetCropUrl("square-md")&amp;quality=70" media="(min-width: 768px)" type="image/jpeg">
                                                            <source srcset="@img.GetCropUrl("vertical-md")&amp;quality=70&amp;format=webp" media="(min-width: 0px)" type="image/webp">
                                                            <source srcset="@img.GetCropUrl("vertical-md")&amp;quality=70" media="(min-width: 0px)" type="image/jpeg">
                                                            <img src="@img.GetCropUrl("vertical-md")&amp;quality=70" 
                                                                 alt="@await Html.PartialAsync("/Views/Partials/Shared/_AltTextImage.cshtml", img)" 
                                                                 class="img-fluid lazyload">
                                                        </picture>
                                                    </a>
                                                }
                                                <div class="text-holder">
                                                    <h3 class="sm-header">
                                                        <a href="@x?.Url()" title="@Html.Raw(x?.Value("menuTitle")?.ToString())">
                                                            @Html.Raw(x?.Value("menuTitle")?.ToString())
                                                        </a>
                                                    </h3>
                                                    @if (!string.IsNullOrWhiteSpace(shortDescription)){
                                                    @Html.Raw(shortDescription)}
                                                    <div class="mt-2 text-start">
                                                        <a href="@x?.Url()" title="@Html.Raw(x?.Value("menuTitle")?.ToString())" class="underline-btn">
                                                            @Html.Raw(Umbraco.GetDictionaryValue("ButtonMore"))
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
}