@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models
@{
    var home = Model.AncestorOrSelf(1);
    var instagramLink = home.Value<Link>("instagramLink");
    var instagramHashtag = home?.Value("instagramHashtag")?.ToString() ?? string.Empty;
    var instagramTitle = home?.Value("instagramTitle")?.ToString() ?? string.Empty;
    var instagramImage = home?.Value<IPublishedContent>("instagramImage");
}

@if (Model.HasValue("instagramImage")) {
    @if (!string.IsNullOrEmpty(instagramTitle)){
    <h2 class="h1 text-white">
        @if (!string.IsNullOrEmpty(instagramHashtag)){
        <span class="section-subtitle">@Html.Raw(instagramHashtag)</span>
        }
        @Html.Raw(instagramTitle)
    </h2>
    }
    <div class="InstaThumb">
        @if (instagramImage != null){
            
            if (instagramLink != null){
            <a href="@instagramLink?.Url" aria-label="@instagramLink?.Name" target="@instagramLink?.Target" title="@instagramLink?.Name">
                <picture>
                    <source srcset="@instagramImage.Url()?quality=70&amp;format=webp" media="(min-width: 576px)" type="image/webp">
                    <source srcset="@instagramImage.Url()?quality=70" media="(min-width: 576px)" type="image/jpeg">
                    <source srcset="@instagramImage.Url()?width=560&amp;quality=70&amp;format=webp" media="(min-width: 0px)" type="image/webp">
                    <source srcset="@instagramImage.Url()?width=560&amp;quality=70" media="(min-width: 0px)" type="image/jpeg">
                    <img src="@instagramImage.Url()?width=560&amp;quality=70" alt="@await Html.PartialAsync("/Views/Partials/Shared/_AltTextImage.cshtml", instagramImage)" class="img-fluid lazyload">
                </picture>
            </a>
        }
        else
        {
            <picture>
                <source srcset="@instagramImage.Url()?quality=70&amp;format=webp" media="(min-width: 576px)" type="image/webp">
                <source srcset="@instagramImage.Url()?quality=70" media="(min-width: 576px)" type="image/jpeg">
                <source srcset="@instagramImage.Url()?width=560&amp;quality=70&format=webp" media="(min-width: 0px)" type="image/webp">
                <source srcset="@instagramImage.Url()?width=560&amp;quality=70" media="(min-width: 0px)" type="image/jpeg">
                <img src="@instagramImage.Url()?width=560&amp;quality=70" alt="@await Html.PartialAsync("/Views/Partials/Shared/_AltTextImage.cshtml", instagramImage)" class="img-fluid lazyload">
            </picture>            
        }
    }                           
    </div>

    
}

    
    