@using Umbraco.Cms.Web.Common.PublishedModels
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models

@{
    var childSelection = Model.Children
        .Where(x => x.IsVisible() && x.Id != Model.Id);
}

@if (childSelection?.Any() == true) {
    var i = 1;

    <section class="col-11 mx-auto py-offset"> 

        @foreach (var item in childSelection){
            var shortDescription = item.Value<string>("shortDescription") ?? string.Empty;

            <div class="row align-items-center @(i > 1 ? "mt-offset" : null)">
                <div class="col-12 col-lg-6 @(i % 2 == 0 ? "order-lg-2 revert" : null)"> 

                    @if (item.HasValue("imageForListing")){
                        var blockImages = item.Value<IEnumerable<IPublishedContent>>("imageForListing") ?? Enumerable.Empty<IPublishedContent>();

                    if (blockImages?.Any() == true){
                    if (blockImages.Count() > 1){
                        @Html.Raw("<div class=\"sliderContainer\">")
                        @Html.Raw("<div class=\"swiper simpleGallerySwiper\">")
                        @Html.Raw("<div class=\"swiper-wrapper\">")
                    }

                    foreach (var x in blockImages)
                    {
                        <div class="@(blockImages.Count() > 1 ? "swiper-slide" : null)">
                            <picture>
                                <source srcset="@x.GetCropUrl("square-xl")&amp;quality=70&amp;format=webp" media="(min-width: 1481px)" type="image/webp">
                                <source srcset="@x.GetCropUrl("square-xl")&amp;quality=70" media="(min-width: 1481px)" type="image/jpeg">
                                <source srcset="@x.GetCropUrl("vertical-lg")&amp;quality=70&amp;format=webp" media="(min-width: 992px)" type="image/webp">
                                <source srcset="@x.GetCropUrl("vertical-lg")&amp;quality=70" media="(min-width: 992px)" type="image/jpeg">
                                <source srcset="@x.GetCropUrl("horizontal-md")&amp;quality=70&amp;format=webp" media="(min-width: 768px)" type="image/webp">
                                <source srcset="@x.GetCropUrl("horizontal-md")&amp;quality=70" media="(min-width: 768px)" type="image/jpeg">
                                <source srcset="@x.GetCropUrl("horizontal-sm")&amp;quality=70&amp;format=webp" media="(min-width: 576px)" type="image/webp">
                                <source srcset="@x.GetCropUrl("horizontal-sm")&amp;quality=70" media="(min-width: 576px)" type="image/jpeg">
                                <source srcset="@x.GetCropUrl("square-sm")&amp;quality=70&amp;format=webp" media="(min-width: 0px)" type="image/webp">
                                <source srcset="@x.GetCropUrl("square-sm")&amp;quality=70" media="(min-width: 0px)" type="image/jpeg">
                                <img src="@x.GetCropUrl("square-sm")&amp;quality=70" alt="@await Html.PartialAsync("/Views/Partials/Shared/_AltTextImage.cshtml", x)" class="img-fluid lazyload">
                            </picture>
                        </div>
                        }

                            if (blockImages.Count() > 1)
                            {
                                @Html.Raw("</div>")
                                @Html.Raw("<div class=\"swiper-button-prev\"></div>")
                                @Html.Raw("<div class=\"swiper-button-next\"></div>")
                                @Html.Raw("</div>")
                                @Html.Raw("</div>")
                            }
                        }
                    }
                </div>    

                <div class="col-12 col-lg-6 px-lg-5 @(i % 2 == 0 ? "order-lg-1 revert" : null)">
                    <div class="place-text mt-5 mt-lg-0">
                        @if (!string.IsNullOrEmpty(item.Value<string>("menuTitle"))){
                        <h2 class="h3">@Html.Raw(item.Value("menuTitle"))</h2>
                        }

                        @if (!string.IsNullOrEmpty(shortDescription)){ 
                            @Html.Raw(shortDescription)
                        }
                    </div>
                </div>
            </div>

            i++;
        }

    </section>
}
