@using Umbraco.Cms.Web.Common.PublishedModels
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models

@{
    var root = Model.Root();
    var mapImage = root.Value<IPublishedContent>("mapImage");
    var mapLink = root.Value<Link>("mapLink");
    var websiteName = root.Value<string>("websiteName") ?? string.Empty;
}
    
@if (root.HasValue("mapImage"))
{
    if (mapImage != null)
    {
        if (root.HasValue("mapLink"))
        {
            <a href="@mapLink?.Url" aria-label="@mapLink?.Name" target="@mapLink?.Target" title="@mapLink?.Name">
                <picture>
                    <source srcset="@mapImage.Url()?quality=70&amp;format=webp" media="(min-width: 576px)" type="image/webp">
                    <source srcset="@mapImage.Url()?quality=70" media="(min-width: 576px)" type="image/jpeg">
                    <source srcset="@mapImage.Url()?width=560&amp;quality=70&amp;format=webp" media="(min-width: 0px)" type="image/webp">
                    <source srcset="@mapImage.Url()?width=560&amp;quality=70" media="(min-width: 0px)" type="image/jpeg">
                    <img src="@mapImage.Url()?width=560&amp;quality=70" alt="@await Html.PartialAsync("/Views/Partials/Shared/_AltTextImage.cshtml", mapImage)" class="img-fluid lazyload">
                </picture>
            </a>
        }
        else
        {
            <picture>
                <source srcset="@mapImage.Url()?quality=70&amp;format=webp" media="(min-width: 576px)" type="image/webp">
                <source srcset="@mapImage.Url()?quality=70" media="(min-width: 576px)" type="image/jpeg">
                <source srcset="@mapImage.Url()?width=560&amp;quality=70&format=webp" media="(min-width: 0px)" type="image/webp">
                <source srcset="@mapImage.Url()?width=560&amp;quality=70" media="(min-width: 0px)" type="image/jpeg">
                <img src="@mapImage.Url()?width=560&amp;quality=70" alt="@await Html.PartialAsync("/Views/Partials/Shared/_AltTextImage.cshtml", mapImage)" class="img-fluid lazyload">
            </picture>            
        }
    }
}
